@tailwind base;
@tailwind components;
/* Custom code here */
@font-face {
    font-family: 'Big Shoulders';
    src: url('../public/fonts/BigShouldersDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../public/fonts/LexendDeca-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-size: 15px;
}

@tailwind utilities;